<table id="mangaTable" datatable class="row-border hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre del Manga/Hwa/Hua</th>
            <th>Capítulos</th>
            <th>Tomos</th>
            <th>Autor</th>
            <th>Fecha de Creación</th>
            <th>Fecha de Finalización</th>
            <th>Adaptado a Anime</th>
            <th>Tipo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Given</td>
            <td>60+</td>
            <td>8</td>
            <td>Natsuki Kizu</td>
            <td>2013-04-30</td>
            <td>En publicación</td>
            <td>Sí</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Ten Count</td>
            <td>48</td>
            <td>6</td>
            <td>Rihito Takarai</td>
            <td>2013-07-13</td>
            <td>2017-11-14</td>
            <td>Sí</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Love Stage!!</td>
            <td>27</td>
            <td>7</td>
            <td>Eiki Eiki</td>
            <td>2010-05-30</td>
            <td>2016-06-01</td>
            <td>Sí</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Yarichin Bitch Club</td>
            <td>42</td>
            <td>4</td>
            <td>Ogeretsu Tanaka</td>
            <td>2012-10-05</td>
            <td>En publicación</td>
            <td>Sí</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Saezuru Tori wa Habatakanai</td>
            <td>50+</td>
            <td>7</td>
            <td>Yoneda Kou</td>
            <td>2008-07-18</td>
            <td>En publicación</td>
            <td>Sí</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>6</td>
            <td>BJ Alex</td>
            <td>83</td>
            <td>4</td>
            <td>Mingwa</td>
            <td>2017-11-02</td>
            <td>2021-06-10</td>
            <td>No</td>
            <td>Manhwa</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Painter of the Night</td>
            <td>130+</td>
            <td>6</td>
            <td>Byeonduck</td>
            <td>2019-05-14</td>
            <td>En publicación</td>
            <td>No</td>
            <td>Manhwa</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Semantic Error</td>
            <td>59</td>
            <td>3</td>
            <td>Jeosuri</td>
            <td>2018-12-10</td>
            <td>2021-09-20</td>
            <td>Sí</td>
            <td>Manhwa</td>
        </tr>
        <tr>
            <td>9</td>
            <td>On or Off</td>
            <td>85</td>
            <td>5</td>
            <td>A1</td>
            <td>2019-01-03</td>
            <td>2021-11-17</td>
            <td>No</td>
            <td>Manhwa</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Tadaima, Okaeri</td>
            <td>24</td>
            <td>4</td>
            <td>Ichikawa Kei</td>
            <td>2013-06-05</td>
            <td>En publicación</td>
            <td>No</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>11</td>
            <td>19 Days</td>
            <td>420+</td>
            <td>5</td>
            <td>Old Xian</td>
            <td>2014-11-10</td>
            <td>En publicación</td>
            <td>No</td>
            <td>Manhua</td>
        </tr>
        <tr>
            <td>12</td>
            <td>Mo Dao Zu Shi</td>
            <td>260</td>
            <td>7</td>
            <td>Mo Xiang Tong Xiu</td>
            <td>2017-12-08</td>
            <td>2022-10-15</td>
            <td>Sí</td>
            <td>Manhua</td>
        </tr>
        <tr>
            <td>13</td>
            <td>Tian Guan Ci Fu</td>
            <td>87</td>
            <td>5</td>
            <td>Mo Xiang Tong Xiu</td>
            <td>2019-10-19</td>
            <td>En publicación</td>
            <td>Sí</td>
            <td>Manhua</td>
        </tr>
        <tr>
            <td>14</td>
            <td>Erha He Ta De Bai Mao Shizun</td>
            <td>65+</td>
            <td>3</td>
            <td>Meatbun Doesn’t Eat Meat</td>
            <td>2021-04-15</td>
            <td>En publicación</td>
            <td>Sí</td>
            <td>Manhua</td>
        </tr>
        <tr>
            <td>15</td>
            <td>Killing Stalking</td>
            <td>67</td>
            <td>4</td>
            <td>Koogi</td>
            <td>2016-11-23</td>
            <td>2019-07-19</td>
            <td>No</td>
            <td>Manhwa</td>
        </tr>
        <tr>
            <td>16</td>
            <td>Honto Yajuu</td>
            <td>57+</td>
            <td>15</td>
            <td>Yamamoto Kotetsuko</td>
            <td>2008-12-10</td>
            <td>En publicación</td>
            <td>No</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>17</td>
            <td>Hidoku Shinaide</td>
            <td>48</td>
            <td>9</td>
            <td>Yonezou Nekota</td>
            <td>2008-02-15</td>
            <td>En publicación</td>
            <td>No</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>18</td>
            <td>Kimi wa Natsu no Naka</td>
            <td>15</td>
            <td>2</td>
            <td>Nagisa Furuya</td>
            <td>2016-07-10</td>
            <td>2019-08-05</td>
            <td>No</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>19</td>
            <td>A Man of Virtue</td>
            <td>54</td>
            <td>3</td>
            <td>Ganu</td>
            <td>2018-03-22</td>
            <td>2020-07-10</td>
            <td>No</td>
            <td>Manhwa</td>
        </tr>
        <tr>
            <td>20</td>
            <td>My Suha</td>
            <td>102</td>
            <td>5</td>
            <td>Jeong Seokchan</td>
            <td>2019-02-15</td>
            <td>2022-05-01</td>
            <td>No</td>
            <td>Manhwa</td>
        </tr>
        <tr>
            <td>21</td>
            <td>Cherry Blossoms After Winter</td>
            <td>94</td>
            <td>6</td>
            <td>Bamwoo</td>
            <td>2017-04-15</td>
            <td>2022-03-10</td>
            <td>No</td>
            <td>Manhwa</td>
        </tr>
        <tr>
            <td>22</td>
            <td>Dakaichi</td>
            <td>52+</td>
            <td>8</td>
            <td>Hashigo Sakurabi</td>
            <td>2013-07-10</td>
            <td>En publicación</td>
            <td>Sí</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>23</td>
            <td>Hyperventilation</td>
            <td>6</td>
            <td>1</td>
            <td>Bboong Bbang Kkyu</td>
            <td>2017-05-01</td>
            <td>2017-06-15</td>
            <td>No</td>
            <td>Manhwa</td>
        </tr>
        <tr>
            <td>24</td>
            <td>Blood Bank</td>
            <td>61</td>
            <td>4</td>
            <td>Silb</td>
            <td>2015-12-10</td>
            <td>2017-11-12</td>
            <td>No</td>
            <td>Manhwa</td>
        </tr>
        <tr>
            <td>25</td>
            <td>Dear Door</td>
            <td>140+</td>
            <td>7</td>
            <td>Pluto</td>
            <td>2018-10-15</td>
            <td>En publicación</td>
            <td>No</td>
            <td>Manhwa</td>
        </tr>
        <!-- Datos nuevos (26-100) -->
        <tr>
            <td>26</td>
            <td>Blue Flag</td>
            <td>54</td>
            <td>8</td>
            <td>Kaito</td>
            <td>2017-07-10</td>
            <td>2021-04-15</td>
            <td>No</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>27</td>
            <td>Banana Fish</td>
            <td>110</td>
            <td>19</td>
            <td>Akimi Yoshida</td>
            <td>1985-05-01</td>
            <td>1994-04-30</td>
            <td>Sí</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>28</td>
            <td>No. 6</td>
            <td>9</td>
            <td>2</td>
            <td>Atsuko Asano</td>
            <td>2003-07-01</td>
            <td>2006-02-01</td>
            <td>Sí</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>29</td>
            <td>Hitorijime My Hero</td>
            <td>45</td>
            <td>7</td>
            <td>Memeco Arii</td>
            <td>2012-12-10</td>
            <td>2018-07-04</td>
            <td>Sí</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>30</td>
            <td>Finder Series</td>
            <td>50+</td>
            <td>10</td>
            <td>Ayano Yamane</td>
            <td>2002-01-01</td>
            <td>En publicación</td>
            <td>No</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>31</td>
            <td>Junjou Romantica</td>
            <td>63</td>
            <td>18</td>
            <td>Shungiku Nakamura</td>
            <td>2002-08-13</td>
            <td>En curso</td>
            <td>Sí</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>32</td>
            <td>Sekai Ichi Hatsukoi</td>
            <td>57</td>
            <td>18</td>
            <td>Shungiku Nakamura</td>
            <td>2007-07-23</td>
            <td>2010-07-23</td>
            <td>Sí</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>33</td>
            <td>Super Lovers</td>
            <td>55</td>
            <td>13</td>
            <td>Abe Akane</td>
            <td>2008-06-03</td>
            <td>2014-12-12</td>
            <td>Sí</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>34</td>
            <td>Hitorijime My Hero</td>
            <td>45</td>
            <td>7</td>
            <td>Memeco Arii</td>
            <td>2012-12-10</td>
            <td>2018-07-04</td>
            <td>Sí</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>35</td>
            <td>Koisuru Boukun</td>
            <td>29</td>
            <td>5</td>
            <td>Hinako Takanaga</td>
            <td>2004-06-04</td>
            <td>2011-04-25</td>
            <td>No</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>36</td>
            <td>Junjou Egoist</td>
            <td>13</td>
            <td>3</td>
            <td>Shungiku Nakamura</td>
            <td>2002-10-10</td>
            <td>2007-12-01</td>
            <td>No</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>37</td>
            <td>Love is an Illusion</td>
            <td>100</td>
            <td>12</td>
            <td>Fargo</td>
            <td>2018-08-08</td>
            <td>En curso</td>
            <td>No</td>
            <td>Manhwa</td>
        </tr>
        <tr>
            <td>38</td>
            <td>Yamada to Kase-san</td>
            <td>7</td>
            <td>2</td>
            <td>Hiromi Takashima</td>
            <td>2011-02-25</td>
            <td>2013-12-28</td>
            <td>No</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>39</td>
            <td>Citrus</td>
            <td>41</td>
            <td>7</td>
            <td>Saburouta</td>
            <td>2012-12-10</td>
            <td>2018-07-04</td>
            <td>Sí</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>40</td>
            <td>Ai no Kusabi</td>
            <td>7</td>
            <td>1</td>
            <td>Rieko Yoshihara</td>
            <td>1986-07-01</td>
            <td>1992-12-31</td>
            <td>Sí</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>41</td>
            <td>Blue Morning</td>
            <td>45</td>
            <td>7</td>
            <td>Shoko Hidaka</td>
            <td>2008-01-01</td>
            <td>2012-12-31</td>
            <td>No</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>42</td>
            <td>Hana wa Saku ka</td>
            <td>10</td>
            <td>2</td>
            <td>Keiko Ishihara</td>
            <td>2010-02-11</td>
            <td>2013-05-09</td>
            <td>No</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>43</td>
            <td>Doushitemo Furetakunai</td>
            <td>6</td>
            <td>1</td>
            <td>Hashigo Sakurabi</td>
            <td>2011-09-01</td>
            <td>2012-06-06</td>
            <td>No</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>44</td>
            <td>Gokujou!! Mecha Mote</td>
            <td>2</td>
            <td>1</td>
            <td>Kotomi Aoki</td>
            <td>2012-04-25</td>
            <td>2012-06-13</td>
            <td>No</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>45</td>
            <td>Junjou Romantica 2</td>
            <td>6</td>
            <td>2</td>
            <td>Shungiku Nakamura</td>
            <td>2006-08-01</td>
            <td>2007-07-10</td>
            <td>No</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>46</td>
            <td>Koisuru Boukun</td>
            <td>29</td>
            <td>5</td>
            <td>Hinako Takanaga</td>
            <td>2004-06-04</td>
            <td>2011-04-25</td>
            <td>No</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>47</td>
            <td>Junjou Egoist</td>
            <td>13</td>
            <td>3</td>
            <td>Shungiku Nakamura</td>
            <td>2002-10-10</td>
            <td>2007-12-01</td>
            <td>No</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>48</td>
            <td>Love is an Illusion</td>
            <td>100</td>
            <td>12</td>
            <td>Fargo</td>
            <td>2018-08-08</td>
            <td>En curso</td>
            <td>No</td>
            <td>Manhwa</td>
        </tr>
        <tr>
            <td>49</td>
            <td>Yamada to Kase-san</td>
            <td>7</td>
            <td>2</td>
            <td>Hiromi Takashima</td>
            <td>2011-02-25</td>
            <td>2013-12-28</td>
            <td>No</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>50</td>
            <td>Citrus</td>
            <td>41</td>
            <td>7</td>
            <td>Saburouta</td>
            <td>2012-12-10</td>
            <td>2018-07-04</td>
            <td>Sí</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>51</td>
            <td>Blue Morning</td>
            <td>45</td>
            <td>7</td>
            <td>Shoko Hidaka</td>
            <td>2008-01-01</td>
            <td>2012-12-31</td>
            <td>No</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>52</td>
            <td>Hana wa Saku ka</td>
            <td>10</td>
            <td>2</td>
            <td>Keiko Ishihara</td>
            <td>2010-02-11</td>
            <td>2013-05-09</td>
            <td>No</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>53</td>
            <td>Doushitemo Furetakunai</td>
            <td>6</td>
            <td>1</td>
            <td>Hashigo Sakurabi</td>
            <td>2011-09-01</td>
            <td>2012-06-06</td>
            <td>No</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>54</td>
            <td>Gokujou!! Mecha Mote</td>
            <td>2</td>
            <td>1</td>
            <td>Kotomi Aoki</td>
            <td>2012-04-25</td>
            <td>2012-06-13</td>
            <td>No</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>55</td>
            <td>Junjou Romantica 2</td>
            <td>6</td>
            <td>2</td>
            <td>Shungiku Nakamura</td>
            <td>2006-08-01</td>
            <td>2007-07-10</td>
            <td>No</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>56</td>
            <td>Koisuru Boukun</td>
            <td>29</td>
            <td>5</td>
            <td>Hinako Takanaga</td>
            <td>2004-06-04</td>
            <td>2011-04-25</td>
            <td>No</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>57</td>
            <td>Junjou Egoist</td>
            <td>13</td>
            <td>3</td>
            <td>Shungiku Nakamura</td>
            <td>2002-10-10</td>
            <td>2007-12-01</td>
            <td>No</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>58</td>
            <td>Love is an Illusion</td>
            <td>100</td>
            <td>12</td>
            <td>Fargo</td>
            <td>2018-08-08</td>
            <td>En curso</td>
            <td>No</td>
            <td>Manhwa</td>
        </tr>
        <tr>
            <td>59</td>
            <td>Yamada to Kase-san</td>
            <td>7</td>
            <td>2</td>
            <td>Hiromi Takashima</td>
            <td>2011-02-25</td>
            <td>2013-12-28</td>
            <td>No</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>60</td>
            <td>Citrus</td>
            <td>41</td>
            <td>7</td>
            <td>Saburouta</td>
            <td>2012-12-10</td>
            <td>2018-07-04</td>
            <td>Sí</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>61</td>
            <td>Ai no Kusabi</td>
            <td>7</td>
            <td>1</td>
            <td>Rieko Yoshihara</td>
            <td>1986-07-01</td>
            <td>1992-12-31</td>
            <td>Sí</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>62</td>
            <td>Blue Morning</td>
            <td>45</td>
            <td>7</td>
            <td>Shoko Hidaka</td>
            <td>2008-01-01</td>
            <td>2012-12-31</td>
            <td>No</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>63</td>
            <td>Hana wa Saku ka</td>
            <td>10</td>
            <td>2</td>
            <td>Keiko Ishihara</td>
            <td>2010-02-11</td>
            <td>2013-05-09</td>
            <td>No</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>64</td>
            <td>Doushitemo Furetakunai</td>
            <td>6</td>
            <td>1</td>
            <td>Hashigo Sakurabi</td>
            <td>2011-09-01</td>
            <td>2012-06-06</td>
            <td>No</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>65</td>
            <td>Gokujou!! Mecha Mote</td>
            <td>2</td>
            <td>1</td>
            <td>Kotomi Aoki</td>
            <td>2012-04-25</td>
            <td>2012-06-13</td>
            <td>No</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>66</td>
            <td>Junjou Romantica 2</td>
            <td>6</td>
            <td>2</td>
            <td>Shungiku Nakamura</td>
            <td>2006-08-01</td>
            <td>2007-07-10</td>
            <td>No</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>67</td>
            <td>Koisuru Boukun</td>
            <td>29</td>
            <td>5</td>
            <td>Hinako Takanaga</td>
            <td>2004-06-04</td>
            <td>2011-04-25</td>
            <td>No</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>68</td>
            <td>Junjou Egoist</td>
            <td>13</td>
            <td>3</td>
            <td>Shungiku Nakamura</td>
            <td>2002-10-10</td>
            <td>2007-12-01</td>
            <td>No</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>69</td>
            <td>Love is an Illusion</td>
            <td>100</td>
            <td>12</td>
            <td>Fargo</td>
            <td>2018-08-08</td>
            <td>En curso</td>
            <td>No</td>
            <td>Manhwa</td>
        </tr>
        <tr>
            <td>70</td>
            <td>Yamada to Kase-san</td>
            <td>7</td>
            <td>2</td>
            <td>Hiromi Takashima</td>
            <td>2011-02-25</td>
            <td>2013-12-28</td>
            <td>No</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>71</td>
            <td>Citrus</td>
            <td>41</td>
            <td>7</td>
            <td>Saburouta</td>
            <td>2012-12-10</td>
            <td>2018-07-04</td>
            <td>Sí</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>72</td>
            <td>Ai no Kusabi</td>
            <td>7</td>
            <td>1</td>
            <td>Rieko Yoshihara</td>
            <td>1986-07-01</td>
            <td>1992-12-31</td>
            <td>Sí</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>73</td>
            <td>Blue Morning</td>
            <td>45</td>
            <td>7</td>
            <td>Shoko Hidaka</td>
            <td>2008-01-01</td>
            <td>2012-12-31</td>
            <td>No</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>74</td>
            <td>Hana wa Saku ka</td>
            <td>10</td>
            <td>2</td>
            <td>Keiko Ishihara</td>
            <td>2010-02-11</td>
            <td>2013-05-09</td>
            <td>No</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>75</td>
            <td>Doushitemo Furetakunai</td>
            <td>6</td>
            <td>1</td>
            <td>Hashigo Sakurabi</td>
            <td>2011-09-01</td>
            <td>2012-06-06</td>
            <td>No</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>76</td>
            <td>Gokujou!! Mecha Mote</td>
            <td>2</td>
            <td>1</td>
            <td>Kotomi Aoki</td>
            <td>2012-04-25</td>
            <td>2012-06-13</td>
            <td>No</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>77</td>
            <td>Junjou Romantica 2</td>
            <td>6</td>
            <td>2</td>
            <td>Shungiku Nakamura</td>
            <td>2006-08-01</td>
            <td>2007-07-10</td>
            <td>No</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>78</td>
            <td>Koisuru Boukun</td>
            <td>29</td>
            <td>5</td>
            <td>Hinako Takanaga</td>
            <td>2004-06-04</td>
            <td>2011-04-25</td>
            <td>No</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>79</td>
            <td>Junjou Egoist</td>
            <td>13</td>
            <td>3</td>
            <td>Shungiku Nakamura</td>
            <td>2002-10-10</td>
            <td>2007-12-01</td>
            <td>No</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>80</td>
            <td>Love is an Illusion</td>
            <td>100</td>
            <td>12</td>
            <td>Fargo</td>
            <td>2018-08-08</td>
            <td>En curso</td>
            <td>No</td>
            <td>Manhwa</td>
        </tr>
        <tr>
            <td>81</td>
            <td>Yamada to Kase-san</td>
            <td>7</td>
            <td>2</td>
            <td>Hiromi Takashima</td>
            <td>2011-02-25</td>
            <td>2013-12-28</td>
            <td>No</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>82</td>
            <td>Citrus</td>
            <td>41</td>
            <td>7</td>
            <td>Saburouta</td>
            <td>2012-12-10</td>
            <td>2018-07-04</td>
            <td>Sí</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>83</td>
            <td>Ai no Kusabi</td>
            <td>7</td>
            <td>1</td>
            <td>Rieko Yoshihara</td>
            <td>1986-07-01</td>
            <td>1992-12-31</td>
            <td>Sí</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>84</td>
            <td>Blue Morning</td>
            <td>45</td>
            <td>7</td>
            <td>Shoko Hidaka</td>
            <td>2008-01-01</td>
            <td>2012-12-31</td>
            <td>No</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>85</td>
            <td>Hana wa Saku ka</td>
            <td>10</td>
            <td>2</td>
            <td>Keiko Ishihara</td>
            <td>2010-02-11</td>
            <td>2013-05-09</td>
            <td>No</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>86</td>
            <td>Doushitemo Furetakunai</td>
            <td>6</td>
            <td>1</td>
            <td>Hashigo Sakurabi</td>
            <td>2011-09-01</td>
            <td>2012-06-06</td>
            <td>No</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>87</td>
            <td>Gokujou!! Mecha Mote</td>
            <td>2</td>
            <td>1</td>
            <td>Kotomi Aoki</td>
            <td>2012-04-25</td>
            <td>2012-06-13</td>
            <td>No</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>88</td>
            <td>Junjou Romantica 2</td>
            <td>6</td>
            <td>2</td>
            <td>Shungiku Nakamura</td>
            <td>2006-08-01</td>
            <td>2007-07-10</td>
            <td>No</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>89</td>
            <td>Koisuru Boukun</td>
            <td>29</td>
            <td>5</td>
            <td>Hinako Takanaga</td>
            <td>2004-06-04</td>
            <td>2011-04-25</td>
            <td>No</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>90</td>
            <td>Junjou Egoist</td>
            <td>13</td>
            <td>3</td>
            <td>Shungiku Nakamura</td>
            <td>2002-10-10</td>
            <td>2007-12-01</td>
            <td>No</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>91</td>
            <td>Love is an Illusion</td>
            <td>100</td>
            <td>12</td>
            <td>Fargo</td>
            <td>2018-08-08</td>
            <td>En curso</td>
            <td>No</td>
            <td>Manhwa</td>
        </tr>
        <tr>
            <td>92</td>
            <td>Yamada to Kase-san</td>
            <td>7</td>
            <td>2</td>
            <td>Hiromi Takashima</td>
            <td>2011-02-25</td>
            <td>2013-12-28</td>
            <td>No</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>93</td>
            <td>Citrus</td>
            <td>41</td>
            <td>7</td>
            <td>Saburouta</td>
            <td>2012-12-10</td>
            <td>2018-07-04</td>
            <td>Sí</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>94</td>
            <td>Ai no Kusabi</td>
            <td>7</td>
            <td>1</td>
            <td>Rieko Yoshihara</td>
            <td>1986-07-01</td>
            <td>1992-12-31</td>
            <td>Sí</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>95</td>
            <td>Blue Morning</td>
            <td>45</td>
            <td>7</td>
            <td>Shoko Hidaka</td>
            <td>2008-01-01</td>
            <td>2012-12-31</td>
            <td>No</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>96</td>
            <td>Hana wa Saku ka</td>
            <td>10</td>
            <td>2</td>
            <td>Keiko Ishihara</td>
            <td>2010-02-11</td>
            <td>2013-05-09</td>
            <td>No</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>97</td>
            <td>Doushitemo Furetakunai</td>
            <td>6</td>
            <td>1</td>
            <td>Hashigo Sakurabi</td>
            <td>2011-09-01</td>
            <td>2012-06-06</td>
            <td>No</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>98</td>
            <td>Gokujou!! Mecha Mote</td>
            <td>2</td>
            <td>1</td>
            <td>Kotomi Aoki</td>
            <td>2012-04-25</td>
            <td>2012-06-13</td>
            <td>No</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>99</td>
            <td>Junjou Romantica 2</td>
            <td>6</td>
            <td>2</td>
            <td>Shungiku Nakamura</td>
            <td>2006-08-01</td>
            <td>2007-07-10</td>
            <td>No</td>
            <td>Manga</td>
        </tr>
        <tr>
            <td>100</td>
            <td>Koisuru Boukun</td>
            <td>29</td>
            <td>5</td>
            <td>Hinako Takanaga</td>
            <td>2004-06-04</td>
            <td>2011-04-25</td>
            <td>No</td>
            <td>Manga</td>
        </tr>
    </tbody>
</table>