<table id="basicTable" datatable class="row-border hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th> 
            <th>Last Name</th> 
            <th>Zodiac Sign</th> 
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Uriel Maldonado</td>
            <td>Bernabé</td>
            <td>Aquarius</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Jose Francisco</td>
            <td>Flores</td>
            <td>Taurus</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Dulce Yadira</td>
            <td>Salvador</td>
            <td>Virgo</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Edwin Hernandez</td>
            <td>Campos</td>
            <td>Libra</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Giovanny Raul</td>
            <td>Pasos</td>
            <td>Capricorn</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Paco Garcia</td>
            <td>Garcia</td>
            <td>Leo</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Derek Sesni</td>
            <td>Carreño</td>
            <td>Scorpio</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Erick Matias</td>
            <td>Granillo</td>
            <td>Cancer</td>
        </tr>
        <tr>
            <td>9</td>
            <td>Citlali Pérez</td>
            <td>Dionicio</td>
            <td>Sagittarius</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Jonathan Emmanuel</td>
            <td>López</td>
            <td>Gemini</td>
        </tr>
        <tr>
            <td>11</td>
            <td>Diego Miguel</td>
            <td>Rivera</td>
            <td>Pisces</td>
        </tr>
        <tr>
            <td>12</td>
            <td>Jennifer Bautista</td>
            <td>Barrios</td>
            <td>Aquarius</td>
        </tr>
        <tr>
            <td>13</td>
            <td>Mauricio Rosales</td>
            <td>Gabriel</td>
            <td>Taurus</td>
        </tr>
        <tr>
            <td>14</td>
            <td>Michelle Castro</td>
            <td>Otero</td>
            <td>Virgo</td>
        </tr>
        <tr>
            <td>15</td>
            <td>Sayurid Bautista</td>
            <td>Cruz</td>
            <td>Libra</td>
        </tr>
        <tr>
            <td>16</td>
            <td>Obed Guzmán</td>
            <td>Flores</td>
            <td>Capricorn</td>
        </tr>
        <tr>
            <td>17</td>
            <td>Luis Daniel</td>
            <td>Suarez</td>
            <td>Leo</td>
        </tr>
        <tr>
            <td>18</td>
            <td>Teresa Vargas</td>
            <td>Fernandez</td>
            <td>Scorpio</td>
        </tr>
        <tr>
            <td>19</td>
            <td>Carlos Daniel</td>
            <td>Garcia</td>
            <td>Cancer</td>
        </tr>
        <tr>
            <td>20</td>
            <td>Brisa Nayeli</td>
            <td>Garcia</td>
            <td>Sagittarius</td>
        </tr>
        <tr>
            <td>21</td>
            <td>Adrián Pérez</td>
            <td>Jímenez</td>
            <td>Gemini</td>
        </tr>
        <tr>
            <td>22</td>
            <td>José Arturo</td>
            <td>García</td>
            <td>Pisces</td>
        </tr>
        <tr>
            <td>23</td>
            <td>Al Farías</td>
            <td>Leiva</td>
            <td>Aquarius</td>
        </tr>
        <tr>
            <td>24</td>
            <td>Angel de Jesús</td>
            <td>Baños</td>
            <td>Taurus</td>
        </tr>
        <tr>
            <td>25</td>
            <td>Jesús Alejandro</td>
            <td>Artiaga</td>
            <td>Virgo</td>
        </tr>
        <tr>
            <td>26</td>
            <td>Yazmin Gutierrez</td>
            <td>Hernandez</td>
            <td>Libra</td>
        </tr>
    </tbody>
</table>